*.o
verif_data/dophot*
verif_data/obj_out_J0159.8.chip_01
verif_data/shad_out_J0159.8.chip_01
verif_data/errors_out_J0159.8.chip_01
verif_data/image_out_J0159.8.chip_01.fits
verif_data/psf_out_J0159.8.chip_01.fits
verif_data/param_out
verif_data/log.txt
verif_data/debug_warmstart.fits
verif_data/debug_shape.fits
ri_files/*
working_data/*
structs/ctype_rsfake_struct.h
