*.o
verif_data/dophot*
verif_data/obj_out_J0159.8.chip_01
verif_data/shad_out_J0159.8.chip_01
verif_data/errors_out_J0159.8.chip_01
verif_data/covar_out_J0159.8.chip_01
verif_data/image_out_J0159.8.chip_01.fits
verif_data/psf_out_J0159.8.chip_01.fits
verif_data/param_out
verif_data/log.txt
verif_data/diff.txt
working_data/dophot*
working_data1/*
working_data2/*
working_data3/*
working_data4/*
working_data5/*
working_data6/*
working_data7/*
working_data8/*
working_data9/*
structs/ctype_rsfake_struct.h
